[theme]
background = "THEME_INACT"
primary = "THEME_ACCENT"
secondary = "THEME_BTN"
title = "THEME_ACCENT"
playing = "THEME_ACCENT"
playing_selected = "THEME_ACCENT"
playing_bg = "THEME_BTN"
highlight = "THEME_ACCENT"
highlight_bg = "THEME_BTN"
error = "light red"
error_bg = "THEME_INACT"
statusbar = "THEME_ACCENT"
statusbar_progress = "THEME_ACCENT"
statusbar_bg = "THEME_BTN"
cmdline = "THEME_ACCENT"
cmdline_bg = "THEME_INACT"
search_match = "THEME_BTN_HOVER"